.footer{
  display:flex;
  align-items:center;
  justify-content: space-between;
  height: $footer-height;
  padding:30px;
}


.footer-links a{
  font-size: 2em;
  color:$gray;
  padding: 20px;
}

.footer-links a:hover{
  color: $medium-gray;
}
.footer-copyright{
  color: $medium-gray;
}

.footer-copyright i{
  color:$red;
}

